<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx.xsd
           "
           default-autowire="byName"
           >
	
	
	<!-- 测试信息管理DAO -->
	<bean id="demoBaseDao" class="com.ringtop.common.dao.impl.HibernateBaseDaoImpl" scope="prototype">
		<constructor-arg>
			<value>com.ringtop.entity.Demo</value>
		</constructor-arg>
		<constructor-arg>
			<value>id</value>
		</constructor-arg>
		<!-- 
			在这本来需要给hibernate注入sessionFactory属性的，不过因为我们在beans头文件中声明了：
			default-autowire="byName"
			这样配置文件就会自动给我们注入缺省的set属性
		 -->
	</bean>
	
	<!-- 用户信息管理DAO -->
	<bean id="userBaseDao" class="com.ringtop.common.dao.impl.HibernateBaseDaoImpl" scope="prototype">
		<constructor-arg>
			<value>com.ringtop.entity.ScUser</value>
		</constructor-arg>
		<constructor-arg>
			<value>id</value>
		</constructor-arg>
	</bean>
	
	<!-- 话题信息管理DAO -->
	<bean id="topicBaseDao" class="com.ringtop.common.dao.impl.HibernateBaseDaoImpl" scope="prototype">
		<constructor-arg>
			<value>com.ringtop.entity.Topic</value>
		</constructor-arg>
		<constructor-arg>
			<value>id</value>
		</constructor-arg>
	</bean>
	
		<!-- 话题评论管理DAO -->
	<bean id="topicCommentBaseDao" class="com.ringtop.common.dao.impl.HibernateBaseDaoImpl" scope="prototype">
		<constructor-arg>
			<value>com.ringtop.entity.TopicComment</value>
		</constructor-arg>
		<constructor-arg>
			<value>id</value>
		</constructor-arg>
	</bean>
	
	<!-- 段子信息管理DAO -->
	<bean id="paragraphBaseDao" class="com.ringtop.common.dao.impl.HibernateBaseDaoImpl" scope="prototype">
		<constructor-arg>
			<value>com.ringtop.entity.Paragraph</value>
		</constructor-arg>
		<constructor-arg>
			<value>id</value>
		</constructor-arg>
	</bean>
	
	<!-- 段子评论信息管理DAO -->
	<bean id="paragraphCommentBaseDao" class="com.ringtop.common.dao.impl.HibernateBaseDaoImpl" scope="prototype">
		<constructor-arg>
			<value>com.ringtop.entity.ParagraphComment</value>
		</constructor-arg>
		<constructor-arg>
			<value>id</value>
		</constructor-arg>
	</bean>
	
	<!--美图信息管理DAO -->
	<bean id="imageBaseDao" class="com.ringtop.common.dao.impl.HibernateBaseDaoImpl" scope="prototype">
		<constructor-arg>
			<value>com.ringtop.entity.Image</value>
		</constructor-arg>
		<constructor-arg>
			<value>id</value>
		</constructor-arg>
	</bean>
	
</beans>